

.annotationGUI {
  
}

.inputBox {
  min-width: 100px;
}

#inputContent {
  /*height: 200px;*/
}

#annotationInputGui {
  background: white;
}

#update {
  display: none;
}

#submit {
  display: block;
}